
  
  .stil-for-siden {
    background-color: pink;
    color: black; 
   font-family: Arial;
  }
  .overskrift {
    font-size: x-large;
    color: antiquewhite;
  }

  .tekst {
 color: grey; 
 font-size: medium;
  }
    .image-caption {
        font-size: 16px;
        color: blanchedalmond;
    }


   
    
